<div class="sign-form">
    {{#if foodLover}}
    <form action="/auth/requestdish" method="get" autocomplete="off">
        {{else}}
        <form action="/auth/newbid/{{resultDishRequest._id}}" method="get" autocomplete="off">
            {{/if}}

            <div class="list-group">
                <h4 class="list-group-item list-group-item-action active">
                    {{#if foodLover}}
                    {{#if bids}}
                    Accept a bid of {{resultDishRequest.dish.name}}
                    {{else}}
                    No bids for {{resultDishRequest.dish.name}} yet...
                    {{/if}}
                    {{else}}
                    All bids of {{resultDishRequest.dish.name}}
                    {{/if}}
                </h4>

                {{#each bids}}
                <a class="list-group-item list-group-item-action" href="/auth/order/{{dishRequest._id}}/{{foodProvider._id}}/{{_id}}"><span class="space-between"><span
                            class="span-mybids-35pct">{{foodProvider.companyName}}</span><span>€
                            {{price}},-</span><span>{{status}}</span></span></a>
                {{/each}}

            </div>
            <h5>{{cookie}}</h5>
            {{#if foodLover}}
            <button type="submit" class="btn btn-primary">New request</button>
            {{else}}
            <button type="submit" class="btn btn-primary">Bid!</button>
            {{/if}}

        </form>
</div>